/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the body and header */
body {
  font-family: Arial, sans-serif;
  background-image: url(./images/pexels-pixabay-268533.jpg);
  color: #04ff08;


}

header {
  background-color: transparent;
  padding: 20px;
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

/* Layout styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  box-shadow:transparent;
}

section {
  margin-bottom: 20px;
  
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Animal list styles */
.animal-list ul {
  list-style-type: none;
}

.animal-list li {
  cursor: pointer;
  margin-bottom: 5px;
}

.animal-list li:hover {
  text-decoration: underline;
}

/* Animal details styles */
.animal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.animal-details img {
  max-width: 300px;
  margin-bottom: 10px;
}

/* Vote form styles */
.vote-form input[type="number"] {
  width: 80px;
  margin-right: 10px;
  padding: 5px;
}

.vote-form button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Reset button styles */
.reset-button button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Add animal form styles */
.add-animal-form label {
  display: block;
  margin-bottom: 5px;
}

.add-animal-form input[type="text"],
.add-animal-form input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.add-animal-form button[type="submit"] {
  padding: 5px 10px;
  background-color: #ff0404;
  color: #ffffff;
  border: none;
  cursor: pointer;
}